<div class="main-page-header">
  <div class="title">{{#link-to 'seamail' }}Seamail{{/link-to}} > {{model.subject}}
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

<div class="display_card">
  <div class="card-section">
    {{#each user in model.users}}
      {{#link-to 'user.profile' user.username}}
        <span class="pull-left" style="padding: 0.5em;">
          {{pretty-username user.username user.display_name}}
          <div style="text-align: center;">
            {{user-picture user.username user.last_photo_updated}}
          </div>
        </span>
      {{/link-to}}
    {{/each}}
  </div>
  <div class="card-section">
    <div class="form">
      {{textarea value=model.text rows='2' class='input' placeholder='Send a message' key-down='handleKeyDown'}}
      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="footer">
      <button class="btn right" {{action 'post' model.text}}>Send</button>
    </span>
    </div>
  </div>
</div>
<div class="display_card">
  {{#each message in model.messages}}
    <div class="card-section section-with-photo">
      <div class="section-photo">
        {{user-picture message.author.username message.author.last_photo_updated}}
      </div>

      <span class="title">
        {{pretty-username message.author.username message.author.display_name}}
      </span>
      {{pretty-timestamp message.timestamp}}

      <div class="body">
        <div class="body-section">
          {{{message.text}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
