<div class="card-section clickable" {{action 'display_seamail' model.id}}>
  <span class="title big-title">
    {{model.subject}} {{#if model.is_unread}}<span class="highlight">New</span>{{/if}}
  </span>
  {{pretty-timestamp model.timestamp}}

  <div class="form">
    {{#each user in model.users}}
      <span class="pull-left" style="padding: 0.5em;">
          {{pretty-username user.username user.display_name}}
        <div style="text-align: center;">
          {{user-picture user.username user.last_photo_updated}}
        </div>
        </span>
    {{/each}}
  </div>
  <div class="controls">
    {{pretty-message-count model.message_count model.count_is_unread}}
  </div>
</div>
