<div>
  <span class="controls button_actions">
    {{#if model.logged_in}}
      <button class="btn" {{action 'mark_all_read'}}>Mark as Read</button>
    {{/if}}
    <button class="btn" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span></button>
    {{#if model.logged_in}}
      <button class="btn" {{action 'create_forum'}}><span class="glyphicon glyphicon-plus" title="Create Forum"></span></button>
    {{/if}}
  </span>
  
  <div class="navigation tabs">
    <span class="{{unless model.participated 'active'}}" {{action 'all_mode'}}>
      All Forums
    </span>
    {{#if model.logged_in}}
      <span class="{{if model.participated 'active'}}" {{action 'participated_mode'}}>
        My Forums
      </span>
      <button class="btn btn-link" {{action 'participated_help'}}><span class="glyphicon glyphicon-question-sign"></span></button>
    {{/if}}
  </div>

  {{render 'forums.paging_partial' model }}
</div>
