<div class="main-page-header header-with-controls">
  <span class="controls">
    {{#if role_tho}}
      {{#if sticky}}
        <button class="btn" {{action 'toggle_sticky'}}>Unsticky Thread</button>
      {{else}}
        <button class="btn" {{action 'toggle_sticky'}}>Sticky Thread</button>
      {{/if}}
    {{/if}}
    {{#if role_moderator}}
      {{#if locked}}
        <button class="btn" {{action 'toggle_locked'}}>Unlock Thread</button>
      {{else}}
        <button class="btn" {{action 'toggle_locked'}}>Lock Thread</button>
      {{/if}}
      <button class="btn" {{action 'delete_thread'}}>Delete Thread</button>
    {{/if}}
  </span>
  <div class="title">{{#link-to 'forums'}}Forums{{/link-to}} > {{model.forum.subject}}
    {{#if locked}}
      <span class="	glyphicon glyphicon-lock" title="Locked"></span>
    {{/if}}
    {{#if sticky}}
      <span class="	glyphicon glyphicon-pushpin" title="Sticky"></span>
    {{/if}}
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span></button>
  </div>
</div>

{{render 'forums.paging_partial' this }}

<div class="display_card">
  {{#each post in model.forum.posts}}
    {{render "forums.post_partial" post}}
  {{/each}}

</div>

{{#if can_reply}}
  <div class="display_card">
    <div class="card-section">
      <span class="title big-title">Post a message</span>
      {{textarea value=model.new_post rows='6' class='input' maxlength='10000' key-down='handleKeyDown'}}
      <ul class="errors-list">
        {{#each error in model.errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      {{partial 'upload'}}
      <span class="controls">
        {{#if role_admin}}
          {{input checked=model.as_admin type='checkbox' id='as_admin'}} <label for='as_admin'>Post as TwitarrTeam</label>
        {{/if}}
        {{#if role_moderator}}
          {{input checked=model.as_mod type='checkbox' id='as_mod'}} <label for='as_mod'>Post as Moderator</label>
        {{/if}}
        <button class="btn" {{action 'new'}}>Post</button>
      </span>
    </div>
  </div>
{{/if}}

<div class="footer-controls">
  {{render 'forums.paging_partial' this }}
</div>
