<div class="card-section clickable" {{action 'display_forum' model.id model.last_post_page}}  {{!-- Should link to last unread post page, not the first --}}>
  <span class="title big-title">
    {{unbound model.subject}}
  </span>
  {{pretty_timestamp model.timestamp}}

  <div class="form">
    {{{unbound posts_sentence}}}
    <div class="controls">
      Most recent: {{pretty_username model.last_post_author.username model.last_post_author.display_name }}
    </div>
  </div>

</div>
