{{render "forums.controls_partial" this}}

<div class="display_card">
  {{#each forum in model.forums}}
    {{render "forums.meta_partial" forum}}
  {{else}}
    <div class="card-section">
      {{#if participated}}
        You have not participated in any forums.
      {{else}}
        There are no forums.
      {{/if}}
    </div>
  {{/each}}
</div>

<div class="footer-controls">
  {{render 'forums.paging_partial' this }}
</div>
