<div class="card-section section-with-photo {{if model.first_unread 'scroll_to'}}">
  <div class="section-photo">
    {{#link-to 'user.profile' model.author.username}}
      {{user-picture model.author.username model.author.last_photo_updated}}
    {{/link-to}}
  </div>

  <span class="title">
    {{#link-to 'user.profile' model.author.username}}
      {{pretty-username model.author.username model.author.display_name}}
    {{/link-to}}
  </span>
  {{pretty-timestamp model.timestamp}}
  <div class="body">
    <div class="body-section">
      {{{model.text}}}
    </div>
    <div class="body-section photos">
      {{#each photo in model.photos}}
        {{render 'photo_mini' photo }}
      {{/each}}
    </div>
  </div>
  <div class="controls">
    <div>
      {{#if model.new}}<span class="highlight">new</span>{{/if}}
      {{model.likes_string}}
    </div>
    <div>
      {{#if unlikeable}}<button {{action 'unlike' bubbles=false}} class="btn-link">Unlike</button>{{/if}}
      {{#if likeable}}<button {{action 'like' bubbles=false}} class="btn-link">Like</button>{{/if}}
      {{#if editable}}<button {{action 'edit' model.id bubbles=false}} class="btn-link">Edit</button>{{/if}}
      {{#if deleteable}}<button {{action 'delete' model.id bubbles=false}} class="btn-link">Delete</button>{{/if}}
    </div>
  </div>
  
</div>