<div class="card-section section-with-photo {{if model.first_unread 'scroll_to'}}">
  <div class="section-photo">
    {{#link-to 'user.profile' model.author.username}}
      {{user_picture model.author.username model.author.last_photo_updated}}
    {{/link-to}}
  </div>

  <span class="title">
    {{#link-to 'user.profile' model.author.username}}
      {{pretty_username model.author.username model.author.display_name}}
    {{/link-to}}
  </span>
  {{pretty_timestamp model.timestamp}}
  <div class="body">
    <div class="body-section">
      {{{model.text}}}
    </div>
    <div class="body-section photos">
      {{#each photo in model.photos}}
        {{render 'photo_mini' photo }}
      {{/each}}
    </div>
  </div>
  <div class="controls">
    <div>
      <span class="{{if model.new '' 'hidden'}}" style="color: red;">new</span>
      {{model.likes_string}}
    </div>
    <div>
      <button {{action 'unlike' bubbles=false}} class="btn-link {{if likeable 'hidden'}}">Unlike</button>
      <button {{action 'like' bubbles=false}} class="btn-link {{if likeable '' 'hidden'}}">Like</button>
      <button {{action 'edit' model.id bubbles=false}} class="btn-link {{if editable '' 'hidden'}}">Edit</button>
      <button {{action 'delete' model.id bubbles=false}} class="btn-link {{if deleteable '' 'hidden'}}">Delete</button>
    </div>
  </div>
  
</div>