<div class="main-page-header">
  <div class="title">Announcements</div>
</div>
<div class="display_card">
  <div class="card-section">
    Message
    {{textarea value=model.text rows='6' class='input' placeholder='text'}}
    Valid until
    {{input value=model.valid_until type='datetime-local' class='input'}}
    <ul class="errors-list">
      {{#each error in model.errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    <div class="controls">
      {{input checked=model.as_admin type='checkbox' id='as_admin'}} <label for='as_admin'>Post as TwitarrTeam</label>
      <button class="btn" {{action 'new' model.text model.valid_until model.as_admin}}>Announce</button>
    </div>
  </div>
</div>

<div class="display_card">
  <div class="card_title">Previous announcements</div>
  {{#each announcement in model}}
    <div class="card-section">
      <span class="title">
        By: {{announcement.author}}, Displayed until: {{pretty-time announcement.valid_until}}
      </span>
      {{pretty-timestamp announcement.timestamp}}
      <div class="body">
        <div class="body-section">
          {{{announcement.text}}}
        </div>
      </div>
      <div class="controls">
        <button {{action 'edit' announcement.id bubbles=false}} class="btn-link">Edit</button>
        <button {{action 'delete' announcement.id bubbles=false}} class="btn-link">Delete</button>
      </div>
    </div>
  {{/each}}
</div>
