<div class="card-section section-with-photo" {{action 'edit_profile' model.username}}>
  <div class="section-photo">
    {{user-picture model.username model.last_photo_updated}}
  </div>

  {{#if model.last_login}}
    {{pretty-timestamp-labeled model.last_login 'Last Login'}}
  {{/if}}

  <span class="title big-title">
    {{display-name-plus-username model.username model.display_name}}
  </span>

  <div class="form">
    Role: {{model.role}}
  </div>
</div>