<div class="card-section section-with-photo" {{action 'edit_profile' username}}>
  <div class="section-photo">
    {{user_picture username last_photo_updated}}
  </div>

  {{#if last_login}}
    {{pretty_timestamp_labeled last_login 'Last Login'}}
  {{/if}}

  <span class="title big-title">
    {{display_name_plus_username username display_name}}
  </span>

  <div class="form">
    Role: {{role}}
  </div>
</div>