<div class="clearfix">
  <img src="/img/jellyfish.png" style="height: 150px; margin-left: 0.5em;" class="pull-left"/>

  <h3 class="pull-left" style="margin: 1em 0.5em 0">Welcome to Twit-arr!</h3>
</div>

<form {{action "user_forgot_password" class="form-horizontal" on="submit"}}>
  <legend>Forgot password</legend>
  <div style="margin-top: 1em;">
    If you've forgotten your password, then please enter your username and the email you used to register to reset.
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    {{input class="form-control" value=username name="username"}}
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    {{input class="form-control" value=email name="email"}}
  </div>
  {{#if errors.username}}
      <ul class="alert alert-warning" style="padding-left: 2em;">
        {{#each error in errors.username}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
  {{/if}}
  <div style="margin-top: 1em;">
    <button class="btn btn-primary" type="submit">Get security question</button>
  </div>
</form>
{{#if security_question}}
  <form {{action "user_reset_password" class="form-horizontal" on="submit"}}>
    <div style="margin-top: 1em;">
      Your security question is: {{security_question}}
    </div>
    <div class="form-group">
      <label for="security_answer">Security Answer</label>
      {{input class="form-control" value=security_answer name="security_answer"}}
    </div>
    {{#if errors.security_answer}}
      <ul class="alert alert-warning" style="padding-left: 2em;">
        {{#each error in errors.security_answer}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <div class="form-group">
      <label for="new_password">New Password</label>
      {{input type="password" value=new_password class='input' name="new_password"}}
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      {{input type="password" value=confirm_password class='input' name="confirm_password" }}
    </div>
    {{#if errors.password}}
      <ul class="alert alert-warning" style="padding-left: 2em;">
        {{#each error in errors.password}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <div style="margin-top: 1em;">
      <button class="btn btn-primary" type="submit">Reset Password</button>
      {{#if loading}}
        Processing...
      {{/if}}
    </div>    
  </form>
{{/if}}


<h4>{{#link-to "user.login"}}Never mind, I remembered the password!{{/link-to}}</h4>