<div class="display_card">
  <div class="card_title">
    {{display-name-plus-username model.username model.display_name}}
  </div>

  <div id="profile-photo-upload-div" class="card-section">
    <img src={{profile_pic}} class="profile-pic"/>
    {{#if application.uploads_pending}}
      <div class="uploading">Uploading...</div>
    {{else}}
      Click to change profile photo
    {{/if}}
  </div>
  <input id="profile-photo-upload" type="file" name="file" data-url={{profile_pic_upload_url}} accept="image/*" style="display: none;">
  <div class="row" style="margin: 0.5em 1em;">
    <button class="btn" {{action 'remove_photo'}}>Remove profile photo</button>
  </div>

  <div class="body" style="padding: 1em;">
    <div class="row" style="margin: 1em 0;">
      <div class="col-md-4">
        <div class="form-group">
          <label for="display_name">Display Name</label>
          {{input value=model.display_name class='input' maxlength='40' name="display_name"}}
          {{#if errors.display_name}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.display_name}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>

        <div class="form-group">
          <label for="real_name">Real Name (Optional, public)</label>
          {{input value=model.real_name class='input' maxlength='100' name="real_name"}}
          {{#if errors.real_name}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.real_name}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="pronouns">Preferred Pronouns (Optional, public)</label>
          {{input value=model.pronouns class='input' maxlength='100' name="pronouns"}}
          {{#if errors.pronouns}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.pronouns}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="room_number">Room Number (Optional, public)</label>
          {{input value=model.room_number class='input' maxlength='5' name="room_number"}}
          {{#if errors.room_number}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.room_number}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>        
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="home_location">Where are you from? (Optional, public)</label>
          {{input value=model.home_location class='input' maxlength='100' name="home_location"}}
          {{#if errors.home_location}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.home_location}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="email">Email (Optional, public)</label>
          {{ input value=model.email class='input' name="email"}}
          {{#if errors.email}}
            <ul class="alert alert-warning" style="padding-left: 2em;">
              {{#each error in errors.email}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0.5em 1em;">
      <button class="btn" {{action 'save'}}>Save Changes</button>
      <div class="form-group">
        {{#if errors.general}}
          <ul class="alert alert-warning" style="padding-left: 2em;">
            {{#each error in errors.general}}
              <li>{{error}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>

    <div class="row" style="margin: 0.5em 1em;">
      <button class="btn" id="show-change-password" onclick="$('#change-password').show(); $('#show-change-password').hide()">Change password</button>
        <div id="change-password" class="col-md-4" style="display: none">
          <h5 style="display: none">Change Password</h5>
        
          <div class="form-group">
            <label for="current_password">Current Password</label>
            {{ input type="password" value=model.current_password class='input' maxlength='100' name="current_password" }}
            {{#if errors.current_password}}
              <ul class="alert alert-warning" style="padding-left: 2em;">
                {{#each error in errors.current_password}}
                  <li>{{error}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="new_password">New Password</label>
            {{ input type="password" value=model.new_password class='input' maxlength='100' name="new_password" }}
            {{#if errors.new_password}}
              <ul class="alert alert-warning" style="padding-left: 2em;">
                {{#each error in errors.new_password}}
                  <li>{{error}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            {{ input type="password" value=model.confirm_password class='input' maxlength='100' name="confirm_password" }}
          </div>

          <div class="row" style="margin: 0.5em 1em;">
            <button class="btn" {{action 'change_password'}}>Submit Password Change</button>
          </div>
        </div>
    </div>
  </div>
  
</div>