<div>
  {{render 'text' model.welcome}}
</div>

<form {{action "save" on="submit"}}>
  <div class="form-group">
    <label for="registration_code">Registration code</label>
    {{input class="input" value=registration_code name="registration_code"}}
    {{#if errors.registration_code}}
        <ul class="alert alert-warning" style="padding-left: 2em;">
          {{#each error in errors.registration_code}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="new_username">Username</label>
    {{input class="input" value=new_username name="new_username"}}
    {{#if errors.username}}
        <ul class="alert alert-warning" style="padding-left: 2em;">
          {{#each error in errors.username}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="display_name">Display Name (optional)</label>
    {{input class="input" value=display_name name="display_name"}}
    {{#if errors.display_name}}
        <ul class="alert alert-warning" style="padding-left: 2em;">
          {{#each error in errors.display_name}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
    {{/if}}
  </div>
  <div style="margin-top: 1em;">
    <p>
      Due to technical restrictions, the security available on the ship is akin to
      <span style="font-weight: bold;">writing your password on a post-it and placing the post-it on your forehead.</span>
      At least, it is to anyone skilled and motivated to do such things.
    </p>
    <h4>
      DO NOT USE the same password that you have used for ANYTHING ELSE.
    </h4>

    <p>Really not kidding here. Please don't do it. If you do, you are risking the security of any account that uses the same password.</p>
  </div>
  <div class="form-group">
    <label for="new_password">Password</label>
    {{input type="password" value=new_password class='input' name="new_password"}}
    {{#if errors.password}}
        <ul class="alert alert-warning" style="padding-left: 2em;">
          {{#each error in errors.password}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="new_password2">Confirm Password</label>
    {{input type="password" value=new_password2 class='input' name="new_password2" }}
  </div>
  <div style="margin-top: 1em;">
    {{#if errors.general}}
        <ul class="alert alert-warning" style="padding-left: 2em;">
          {{#each error in errors.general}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
    {{/if}}
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>