<div class="display_card">
  <div class="card-section section-with-profile-photo">
    <div class="section-photo">
      <img src="{{photo_path}}" {{action 'display_photo' model bubbles=false}} />
    </div>
    <div class="title big-title">
      {{! I know what you're thinking, this is the grossest thing in the world, but bear with me here}}
      {{! I need to text-stroke the unicode star, this is really only possible in chrome and I dont want that}}
      {{! So, I could use a PNG here but I dont want another http request... so inline SVG! }}
      {{! Because SVG actually gets text-stroke in every browser ever... Good consistency.}}
      {{display-name-plus-username model.username model.display_name}}
      {{#if logged_in_visible}}
        <svg class="star" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.3 18.59"><defs><style>.star {font-size:15.05px;fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px;font-family:Arial;}.true {fill:gold;stroke:gold;}</style></defs><text {{action "star"}} class="star {{if model.starred 'true'}}" transform="translate(0.13 13.37)">★</text></svg>
      {{/if}}
      <span class='controls'>
        {{#if role_moderator}}
          <button class="btn" {{action 'admin_profile' model.username}}>Administer User</button>
        {{/if}}
        {{#if logged_in_visible}}
          <button class="btn" {{action 'compose_seamail' model.username }}>Send Seamail</button>
        {{/if}}
      </span>
    </div>
    {{#if logged_in_visible}}
      <div class="body">
        <div class="label">Personal comment (only visible to you):</div>
        <div class="body-section">
          {{textarea value=model.comment rows='2' maxlength='5000' class='input'}}
        </div>
      </div>
      <div class="controls">
        <button class="btn" {{action 'save_comment' model}}>save</button>
      </div>
    {{/if}}
  </div>
  <div class="card-section">
    <div class="form row">
      <div class="col-xs-6">
        <div class="label">{{#link-to 'stream.author' model.username}}Tweets{{/link-to}}</div>
        <div class="data">{{model.number_of_tweets}}</div>
      </div>
      <div class="col-xs-6">
        <div class="label">{{#link-to 'stream.mentions' model.username}}Mentions{{/link-to}}</div>
        <div class="data">{{model.number_of_mentions}}</div>
      </div>
    </div>
  </div>
  <div class="card-section">
    <div class="form row">
      {{#if model.real_name}}
        <div class="col-xs-6">
          <div class="label">Real name</div>
          <div class="data">{{model.real_name}}</div>
        </div>
      {{/if}}
      {{#if model.pronouns}}
        <div class="col-xs-6">
          <div class="label">Preferred Pronouns</div>
          <div class="data">{{model.pronouns}}</div>
      </div>
      {{/if}}
      {{#if model.email}}
        <div class="col-xs-6">
          <div class="label">Email</div>
          <div class="data">{{model.email}}</div>
        </div>
      {{/if}}
      {{#if model.home_location}}
        <div class="col-xs-6">
          <div class="label">Lives in</div>
          <div class="data">{{model.home_location}}</div>
        </div>
      {{/if}}
      {{#if model.room_number}}
        <div class="col-xs-6">
          <div class="label">Room number</div>
          <div class="data">{{model.room_number}}</div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="display_card">
  <div class="card_title">Recent Tweets</div>
  {{#each tweet in model.recent_tweets}}
    {{render "stream.post_partial" tweet}}
  {{else}}
    <div class="card-section">
      No results.
    </div>
  {{/each}}
  <div class="card-section">
    {{#link-to 'stream.author' model.username}}
      View all tweets by {{model.username}}
    {{/link-to}}
  </div>
</div>
