<div class="main-page-header">
  <div class="title">Edit</div>
</div>
<div class="display_card">
  <div class="card-section">
    <div class="form">
      {{textarea value=model.text rows='6' class='input' maxlength='2000' key-down='handleKeyDown'}}
      {{partial 'upload'}}
      <ul class="errors-list">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
      <span class="controls">
        <div>
            Please remember to abide by the {{#link-to 'conduct' target='_blank'}}Code of Conduct{{/link-to}}
            <br/><br/><br/>
        </div>
        <div>
          <button class="btn" {{action 'cancel'}}>Cancel</button>
          <button class="btn" {{action 'save'}}>Save</button>
        </div>
      </span>
    </div>
  </div>
</div>
