<div class="card-section section-with-photo">

  <div class="section-photo">
    {{#link-to 'user.profile' model.author.username}}
      {{user-picture model.author.username model.author.last_photo_updated}}
    {{/link-to}}
  </div>

  <span class="title">
    {{#link-to 'user.profile' model.author.username}}
      {{pretty-username model.author.username model.author.display_name}}
    {{/link-to}}
  </span>

  <span class="link" {{action 'view_thread' model bubbles=false}}>
    {{pretty-timestamp model.timestamp}}
  </span>

  <div class="body">
    <div class="body-section">
      {{{model.text}}}
    </div>
    <div class="body-section photos">
      {{#if model.photo}}
        {{render 'photo_mini' model.photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    <div>
      {{model.likes_string}}
    </div>
    <div>
      {{#if unlikeable}}<button {{action 'unlike' bubbles=false}} class="btn-link">Unlike</button>{{/if}}
      {{#if likeable}}<button {{action 'like' bubbles=false}} class="btn-link">Like</button>{{/if}}
      {{#if editable}}<button {{action 'edit' model.id bubbles=false}} class="btn-link">Edit</button>{{/if}}
      {{#if replyable}}<button {{action 'display_tweet' model.id bubbles=false}} class="btn-link">Reply</button>{{/if}}
      {{#if role_moderator}}
        {{#unless locked}}<button {{action 'toggle_locked' bubbles=false}} class="btn-link">Lock</button>{{/unless}}
        {{#if locked}}<button {{action 'toggle_locked' bubbles=false}} class="btn-link">Unlock</button>{{/if}}
      {{/if}}
      {{#if deleteable}}<button {{action 'delete' model.id bubbles=false}} class="btn-link">Delete</button>{{/if}}
    </div>
  </div>
</div>