<div class="card-section section-with-photo clickable" {{action 'view_thread' model bubbles=false}}>

  <div class="section-photo">
    {{#link-to 'user.profile' model.author.username}}
      {{user-picture model.author.username model.author.last_photo_updated}}
    {{/link-to}}
  </div>

  <span class="title">
    {{#link-to 'user.profile' model.author.username}}
      {{pretty-username model.author.username model.author.display_name}}
    {{/link-to}}
  </span>

  {{pretty-timestamp model.timestamp}}

  <div class="body">
    <div class="body-section">
      {{{model.text}}}
    </div>
    <div class="body-section photos">
      {{#if model.photo}}
        {{render 'photo_mini' model.photo }}
      {{/if}}
    </div>
  </div>
  <div class="controls">
    <div>
      {{model.likes_string}}
    </div>
    <div>
      <button {{action 'unlike' bubbles=false}} class="btn-link {{if unlikeable '' 'hidden'}}">Unlike</button>
      <button {{action 'like' bubbles=false}} class="btn-link {{if likeable '' 'hidden'}}">Like</button>
      <button {{action 'edit' model.id bubbles=false}} class="btn-link {{if editable '' 'hidden'}}">Edit</button>
      <button {{action 'display_tweet' model.id bubbles=false}} class="btn-link {{if logged_in '' 'hidden'}}">Reply</button>
      <button {{action 'delete' model.id bubbles=false}} class="btn-link {{if deleteable '' 'hidden'}}">Delete</button>
    </div>
  </div>
</div>