<div class="main-page-header">
  <div class="title">{{#link-to 'stream' }}Tweets{{/link-to}} > Thread
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span></button>
  </div>
</div>

<div class="display_card">
  {{render "stream.post_partial" model}}
</div>

{{#if model.children}}
  <div class="display_card">
    {{#each child in model.children}}
      {{render "stream.post_partial" child}}
    {{/each}}
  </div>
{{/if}}

{{#if replyable}}
  <div class="display_card">
    <div class="card-section">
      <div class="title big-title">Reply</div>
      <div class="form">
        {{textarea value=model.reply_text rows='6' class='input' maxlength='2000' key-down='handleKeyDown'}}
        {{partial 'upload'}}

        <ul class="errors-list">
          {{#each error in errors}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
        <span class="controls">
          <div>
            Please remember to abide by the {{#link-to 'conduct' target='_blank'}}Code of Conduct{{/link-to}}
            <br/><br/><br/>
          </div>
          <div>
            {{#if role_admin}}
              {{input checked=model.as_admin type='checkbox' id='as_admin'}} <label for='as_admin'>Post as TwitarrTeam</label>
            {{/if}}
            {{#if role_moderator}}
              {{input checked=model.as_mod type='checkbox' id='as_mod'}} <label for='as_mod'>Post as Moderator</label>
            {{/if}}
            <button class="btn" {{action 'new'}}>Post</button>
          </div>
        </span>
      </div>
    </div>
  </div>
{{/if}}

