<div class="main-page-header">
  <div class="title">{{#link-to 'stream' }}Tweets{{/link-to}} > Thread
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span></button>
  </div>
</div>

<div class="display_card">
  {{render "stream.post_partial" model}}
</div>

{{#if model.children}}
  <div class="display_card">
    {{#each child in model.children}}
      {{render "stream.post_partial" child}}
    {{/each}}
  </div>
{{/if}}

<div class="{{if logged_in_visible '' 'hidden'}} {{if model.locked 'hidden'}} ">
  <div class="display_card">
    <div class="card-section">
      <div class="title big-title">Reply</div>
      <div class="form">
        {{textarea value=model.reply_text rows='3' class='input' key-down='handleKeyDown'}}
        {{partial 'upload'}}

        <ul class="errors-list">
          {{#each error in errors}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
        <span class="controls">
          {{#if role_moderator}}
            {{input checked=model.as_mod type='checkbox' id='as_mod'}} <label for='as_mod'>Post as Moderator</label>
          {{/if}}
          <button class="btn" {{action 'new'}}>Post</button>
        </span>
      </div>
    </div>
  </div>
</div>

