<nav id="top-bar" role="navigation">
  <button type="button" class="menu-toggle" {{action 'menu_toggle'}}>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  {{#link-to "forums"}}
    <span class="menu-brand">
      Twit-arr
    </span>
  {{/link-to}}
  {{#if alerts}}
    {{#link-to "alerts"}}
      <span class="menu-alerts glyphicon glyphicon-warning-sign" title="You have new alerts!"></span>
    {{/link-to}}
  {{/if}}
  <div class="pull-right top-bar-search">
    <form>
        <table style="width: 20em;">
          <tr>
            <td style="width: 2em;">
              <span class="glyphicon glyphicon-search header-search"></span>
            </td>
            <td>
              {{input value=text class='input top-bar-search-text' placeholder='Search...'}}
            </td>
            <td style="width: 3em; padding-left: 1em;">
              <button class="btn" style="margin: 10px 15px 5px 0px;" {{action 'search' text}}>Go</button>
            </td>
          </tr>
        </table>
    </form>
  </div>
</nav>
<div id="side-menu">
  <div class="full-screen-overlay" {{action 'menu_toggle'}} ></div>
  <div id="menu">
    <ul {{action 'menu_close'}}>
      <li>{{#link-to "forums"}}<span class="glyphicon glyphicon-list"></span>Forums{{/link-to}}</li>
      <li>{{#link-to "stream"}}<span class="glyphicon glyphicon-bullhorn"></span>Tweets{{/link-to}}</li>
      {{#if logged_in}}
        <li><a href='#' {{ action 'go_to_star_feed' }}><span class="glyphicon glyphicon-star"></span>Starred Stream</a></li>
      {{/if}}
      <li>{{#link-to "schedule"}}<span class="glyphicon glyphicon-calendar"></span>Schedule{{/link-to}}</li>
      <li>{{#link-to "search"}}<span class="glyphicon glyphicon-search"></span>Search{{/link-to}}</li>
      <hr />
      {{#if logged_in}}
        <li>{{#link-to "seamail" (query-params as_mod="false")}}<span class="glyphicon glyphicon-envelope"></span>My Seamail{{/link-to}}</li>
        <li>{{#link-to "events"}}<span class="glyphicon glyphicon-calendar"></span>My Schedule{{/link-to}}</li>
        <li>
          {{#link-to "alerts"}}
            {{#if alerts}}
              <span class="glyphicon glyphicon-warning-sign" style="color: #F62E51;"></span>My Alerts
            {{else}}
              <span class="glyphicon glyphicon-warning-sign"></span>My Alerts
            {{/if}}
          {{/link-to}}
        </li>
        <li>{{#link-to "starred"}}<span class="glyphicon glyphicon-star"></span>My Starred Users{{/link-to}}</li>
        <li>{{#link-to "user"}}<span class="glyphicon glyphicon-user"></span>{{ display_name }}{{/link-to}}</li>
        <hr />
        <li><a tabindex='-1' href='#' {{ action 'logout' }}><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      {{/if}}
      {{#unless logged_in}}
        <li>{{#link-to "user.login"}}<span class="glyphicon glyphicon-log-in"></span>Login{{/link-to}}</li>
        <li>{{#link-to "user.new"}}<span class="glyphicon glyphicon-plus-sign"></span>Sign up{{/link-to}}</li>
      {{/unless}}
      {{#if role_moderator}}
        <hr />
        <li>{{#link-to "seamail" (query-params as_mod="true")}}<span class="glyphicon glyphicon-envelope"></span>Moderator Seamail{{/link-to}}</li>
        <li>{{#link-to "admin.search"}}<span class="glyphicon glyphicon-user"></span>User administration{{/link-to}}</li>
        {{#if role_tho}}
          <li>{{#link-to "admin.announcements"}}<span class="glyphicon glyphicon-bullhorn"></span>Announcements{{/link-to}}</li>
        {{/if}}
        {{#if role_admin}}
          <li>{{#link-to "admin.upload_schedule"}}<span class="glyphicon glyphicon-calendar"></span>Upload Schedule{{/link-to}}</li>
        {{/if}}
      {{/if}}
      <hr />
      <li>{{#link-to 'help'}}<span class="glyphicon glyphicon-question-sign"></span>Help{{/link-to}}</li>
      <li>{{#link-to 'time'}}<span class="glyphicon glyphicon-time"></span>Time zone check{{/link-to}}</li>
      <li>{{#link-to 'conduct'}}<span class="glyphicon glyphicon-file"></span>Code of Conduct{{/link-to}}</li>
    </ul>
  </div>
</div>

<div id='main'>
  {{ outlet }}
  {{ outlet 'modal' }}
</div>
