<nav id="top-bar" role="navigation">
  <button type="button" class="menu-toggle" {{action 'menu_toggle'}}>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  {{#link-to "forums"}}
    <span class="menu-brand">
      Twit-arr
    </span>
  {{/link-to}}
  {{#if alerts}}
    {{#link-to "alerts"}}
      <span class="menu-alerts glyphicon glyphicon-warning-sign" title="You have new alerts!"></span>
    {{/link-to}}
  {{/if}}
  <div class="pull-right top-bar-search">
    <form>
        <table style="width: 20em;">
          <tr>
            <td style="width: 2em;">
              <span class="glyphicon glyphicon-search header-search"></span>
            </td>
            <td>
              {{input value=text class='input top-bar-search-text' placeholder='Search...'}}
            </td>
            <td style="width: 3em; padding-left: 1em;">
              <button class="btn" style="margin: 10px 15px 5px 0px;" {{action 'search' text}}>Go</button>
            </td>
          </tr>
        </table>
    </form>
  </div>
</nav>
<div id="side-menu">
  <div class="full-screen-overlay" {{action 'menu_toggle'}} ></div>
  <div id="menu">
    <ul {{action 'menu_close'}}>
      <li>{{#link-to "forums"}}<span class="glyphicon glyphicon-list"></span>Forums{{/link-to}}</li>
      <li>{{#link-to "stream"}}<span class="glyphicon glyphicon-bullhorn"></span>Tweets{{/link-to}}</li>
      <li class="{{if logged_in '' 'hidden'}}"><a href='#' {{ action 'go_to_star_feed' }}><span class="glyphicon glyphicon-star"></span>Starred Stream</a></li>
      <li>{{#link-to "schedule"}}<span class="glyphicon glyphicon-calendar"></span>Schedule{{/link-to}}</li>
      <li>{{#link-to "search"}}<span class="glyphicon glyphicon-search"></span>Search{{/link-to}}</li>
      <hr />
      <div class="{{if logged_in '' 'hidden'}}">
        <li>{{#link-to "seamail"}}<span class="glyphicon glyphicon-envelope"></span>My Seamail{{/link-to}}</li>
        <li>{{#link-to "events"}}<span class="glyphicon glyphicon-calendar"></span>My Events{{/link-to}}</li>
        <li>
          {{#link-to "alerts"}}
            <!-- If this isn't lined up this way some whitespace creeps in -->
            <span class="{{if alerts '' 'hidden'}} glyphicon glyphicon-warning-sign" style="color: #F62E51;"></span><span class="{{if alerts 'hidden'}} glyphicon glyphicon-warning-sign"></span>My Alerts
          {{/link-to}}
        </li>
        <li>{{#link-to "starred"}}<span class="glyphicon glyphicon-star"></span>My Starred Users{{/link-to}}</li>
        <li>{{#link-to "user"}}<span class="glyphicon glyphicon-user"></span>{{ display_name }}{{/link-to}}</li>
        <hr />
        <li class="{{if logged_in '' 'hidden'}}"><a tabindex='-1' href='#' {{ action 'logout' }}>Logout</a></li>
      </div>
      <div class="{{if logged_in 'hidden'}}">
        <li>{{#link-to "user.login"}}Login{{/link-to}}</li>
        <li>{{#link-to "user.new"}}Sign up{{/link-to}}</li>
      </div>
      <div class="{{if role_moderator '' 'hidden'}}">
        <hr />
        <li class="{{if role_moderator '' 'hidden'}}">{{#link-to "admin.search"}}User administration{{/link-to}}</li>
        <li class="{{if role_tho '' 'hidden'}}">{{#link-to "admin.announcements"}}New announcement{{/link-to}}</li>
        <li class="{{if role_admin '' 'hidden'}}">{{#link-to "admin.upload_schedule"}}Upload Schedule{{/link-to}}</li>
      </div>
      <hr />
      <li>{{#link-to 'help'}}<span class="glyphicon glyphicon-question-sign"></span>Help{{/link-to}}</li>
      <li>{{#link-to 'time'}}<span class="glyphicon glyphicon-time"></span>Time zone check{{/link-to}}</li>
    </ul>
  </div>
</div>

<div id='main'>
  {{ outlet }}
  {{ outlet 'modal' }}
</div>
