<div id="karaoke_page">
  <div class="clearfix">
    <h3>Karaoke List</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        Artist starts with:
      </div>
      <div class="col-md-2">
        <select onchange={{action 'karaoke_letter' value="target.value"}}>
          <option value="" selected={{eq model.letter ''}}>-</option>
          <option value="#" selected={{eq model.letter '#'}}>#</option>
          <option value="A" selected={{eq model.letter 'A'}}>A</option>
          <option value="B" selected={{eq model.letter 'B'}}>B</option>
          <option value="C" selected={{eq model.letter 'C'}}>C</option>
          <option value="D" selected={{eq model.letter 'D'}}>D</option>
          <option value="E" selected={{eq model.letter 'E'}}>E</option>
          <option value="F" selected={{eq model.letter 'F'}}>F</option>
          <option value="G" selected={{eq model.letter 'G'}}>G</option>
          <option value="H" selected={{eq model.letter 'H'}}>H</option>
          <option value="I" selected={{eq model.letter 'I'}}>I</option>
          <option value="J" selected={{eq model.letter 'J'}}>J</option>
          <option value="K" selected={{eq model.letter 'K'}}>K</option>
          <option value="L" selected={{eq model.letter 'L'}}>L</option>
          <option value="M" selected={{eq model.letter 'M'}}>M</option>
          <option value="N" selected={{eq model.letter 'N'}}>N</option>
          <option value="O" selected={{eq model.letter 'O'}}>O</option>
          <option value="P" selected={{eq model.letter 'P'}}>P</option>
          <option value="Q" selected={{eq model.letter 'Q'}}>Q</option>
          <option value="R" selected={{eq model.letter 'R'}}>R</option>
          <option value="S" selected={{eq model.letter 'S'}}>S</option>
          <option value="T" selected={{eq model.letter 'T'}}>T</option>
          <option value="U" selected={{eq model.letter 'U'}}>U</option>
          <option value="V" selected={{eq model.letter 'V'}}>V</option>
          <option value="W" selected={{eq model.letter 'W'}}>W</option>
          <option value="X" selected={{eq model.letter 'X'}}>X</option>
          <option value="Y" selected={{eq model.letter 'Y'}}>Y</option>
          <option value="Z" selected={{eq model.letter 'Z'}}>Z</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="artist">Search by Artist:</label>
      </div>
      <div class="col-md-2">
        {{input value=model.search_artist class='input-short' name="artist" id="artist"}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="song">Search by Title:</label>
      </div>
      <div class="col-md-2">
        {{input value=model.search_song class='input-short' name="song" id="song"}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn" {{action 'karaoke_search_clear'}}>Clear Filters</button>
      </div>
    </div>
  </div>
  <div>
    {{#if model.loaded}}
      {{#if model.filtered}}
        {{#each artist in model.filtered_songs}}
          <h4>{{artist.name}}</h4>
          <ul>
            {{#each song in artist.songs}}
              <li>
                {{song.title}}
                {{#if song.metadata}} - <i>{{song.metadata}}</i>{{/if}}
              </li>
            {{/each}}
          </ul>
        {{/each}}
      {{/if}}
    {{/if}}
  </div>
</div>
