{{#if model.animated}}
  <div class="imageOverlayContainer">
    <img src="{{sm_photo_path}}" class="photo layered"/>
    <img src="/img/play_overlay.png" {{action 'display_photo' model bubbles=false}} class="photo layered" />
  </div>
{{else}}
  <img src="{{sm_photo_path}}" {{action 'display_photo' model bubbles=false}} class="photo"/>
{{/if}}
