<div class="main-page-header {{if logged_in 'header-with-controls'}}">
  {{#if logged_in}}
    <span class="controls">
      {{#unless model.following}}
        <button class="btn" {{action 'follow'}}>Follow</button>
      {{else}}
        <button class="btn" {{action 'unfollow'}}>Unfollow</button>
      {{/unless}}
      {{#if editable}}
        <button class="btn" {{action 'edit'}}>Edit</button>
        <button class="btn" {{action 'delete'}}>Delete</button>
      {{/if}}
    </span>
  {{/if}}
  <div class="title">{{model.title}}</div>
</div>

<div class="display_card">
  <div class="card-section">
    <div class="title big-title {{if model.official 'official'}}">
      {{model.title}}
      <button class="btn btn-link right" {{action 'ical'}}><span class="glyphicon glyphicon-calendar right" title="Export as iCal"></span>
      </button>
    </div>
  </div>
  <div class="card-section">
    <div class="form row">
      <div class="col-xs-12">
        <p>{{{model.description}}}</p>
      </div>
    </div>
    <div class="form row">
      <div class="col-xs-6">
        {{#if model.location}}
          <div class="label">Location</div>
          <div class="data">{{model.location}}</div>
        {{/if}}
      </div>
      <div class="col-xs-6">
        <div class="label">Start Time</div>
        <div class="data">{{pretty-time model.start_time}}</div>
        {{#if model.end_time}}
          <div class="label">End Time</div>
          <div class="data">{{pretty-time model.end_time}}</div>
        {{/if}}
      </div>
    </div>
    <div class="icons">
      {{#if model.official}}
        <span class="glyphicon glyphicon-flag official" title="Official event">
          Official Event
        </span>
      {{else}}
        <span class="glyphicon glyphicon-adjust shadow" title="Shadow cruise event">
          Shadow Cruise Event
        </span>
      {{/if}}
    </div>
  </div>
</div>