<div class="card-section clickable" {{action 'display_event' id}}>
  <span {{bind-attr class=":title"}}>
    {{unbound location}}
  </span>

  {{unbound pretty_timespan start_time end_time}}

  <div class="body">
    <div class="body-section">
      {{unbound title}}
    </div>
  </div>
  <div class="controls">
    <button {{action 'follow' model bubbles=false}} {{bind-attr class="followable::hidden :btn"}}>Follow</button>
    <button {{action 'unfollow' model bubbles=false}} {{bind-attr class="unfollowable::hidden :btn"}}>Unfollow</button>
  </div>
  <div class="icons">
    <span {{bind-attr class="official::hidden :glyphicon :glyphicon-flag :official"}} title="Official event"></span>
    <span {{bind-attr class="official:hidden :glyphicon :glyphicon-adjust :shadow"}} title="Shadow cruise event"></span>
  </div>
</div>
