<div class="card-section clickable" {{action 'display_event' model.id}}>
  <span class="title">
    {{unbound model.location}}
  </span>

  {{unbound pretty_timespan model.start_time model.end_time}}

  <div class="body">
    <div class="body-section">
      {{unbound model.title}}
    </div>
  </div>
  <div class="controls">
    <button {{action 'follow' model.id bubbles=false}} {{bind-attr class="followable::hidden :btn"}}>Follow</button>
    <button {{action 'unfollow' model.id bubbles=false}} {{bind-attr class="unfollowable::hidden :btn"}}>Unfollow</button>
  </div>
  <div class="icons">
    <span {{bind-attr class="model.official::hidden :glyphicon :glyphicon-flag :official"}} title="Official event"></span>
    <span {{bind-attr class="model.official:hidden :glyphicon :glyphicon-adjust :shadow"}} title="Shadow cruise event"></span>
  </div>
</div>
